body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.container p {
    font-size: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card h2 {
    color: #f97316;
}

.online {
    color: #22c55e;
    font-size: 28px;
    font-weight: bold;
}

button {
    margin-top: 40px;
    background: #dc2626;
    color: white;
    border: none;
    padding: 18px 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #991b1b;
}
